{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="login-page">

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
          <p class="message"><a href="/logout">log out?</a></p>
          <p class="message"><a href={{route}}>upload</a></p>          
        </div>
    </form>

    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div>
        <input type="text" id="especie" name="especie" placeholder="especie"/>
        <input type="text" id="seguridad" name="seguridad" placeholder="seguridad"/>
        <button name="one" id="one">presionar<button/>
        <p><input type="image" name="botondeenvio" src="{{url_for('get_file' , filename=images[0])}}" alt="Enviar formulario" style="width:48px;height:48px;"></p>
      </div>
    </form>

<!--        <input type="text" id="seguridad" name="seguridad" placeholder="seguridad"/>-->
<!--    <p class="message">-> <a href="/timelapse/images">Timelapse</a></p>-->
    <h1>{{info}}</h1>
  </div>

{% endblock %}



