{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
<head>
  {% block title %}{% block page_name %}{% endblock %} Logueado como: {{ownname}} ---- Perfil de: {{guestname}}{% endblock %}
<style>
*{
  box-sizing: border-box;
}
.body {
  background-color: #FF0000;
  color: rgb(255,255,204);
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
</head>


<body>
<div class="login-page">

    <title>Perfil</title>

    

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
          <p class="message"><a href="/logout">log out?</a></p>
          <!--<p class="message"><a href={{route}}>upload</a></p>  -->        
        </div>
    </form>

    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}


          <select name="Usuario" multiple = True >
            
             <option selected value="0"> Seleccione usuario/s </option>
                 <optgroup label="Usuarios"> 
                  {% for i in users %}
                    <option value={{loop.index}}>{{i}}</option> 
                  {% endfor %}
             </optgroup> 
            
          </select>
       

        <select name="seguridad">
         <option selected value="0"> Seleccionar visibilidad </option>
         <optgroup label="Seguridad"> 
           <option value="1">Publica</option> 
           <option value="2">Privada</option> 
           <option value="3">Protegida</option> 
         </optgroup> 
        </select>

        <input type="text" id="especie" name="especie" placeholder="especie"/>
        <input type="submit" name="agregar" id="agregar" value="Agregar"/>

        <div class="row">
        {% for i in images %}
            {% set j = j + 1 %}
            <div class = "column">
            <p><input type="image" id="botondeenvio" name={{loop.index}}  src="{{url_for('get_file' , filename=i[loop.index-1][0])}}" alt="Enviar formulario" style="width:300px;height:300px;"></p>

            <!--{{ form.loop }}
            {{ loop.index }}-->

            <p><input type="hidden" name={{loop.index}} id=loop.index/></p>
            
            <p>{{ especies[loop.index - 1] }}<p>
            </div>
        {% endfor %}
      </div>
    </form>

<!--        <input type="text" id="seguridad" name="seguridad" placeholder="seguridad"/>-->
<!--    <p class="message">-> <a href="/timelapse/images">Timelapse</a></p>-->
    <h1>{{info}}</h1>
  </div>
</body>
{% endblock %}



<!--
<script type="text/javascript">
  $(document).ready(function() {
      $('#play').click(function(){    
          album.play();    
      });

-->      